.intro-header .page-heading, .intro-header .site-heading {
    color: #333;
}

hr.small {
    border-color: #333;
}

/*.intro-header {*/
    /*background: right no-repeat;*/
/*}*/

.navbar-custom .navbar-brand, .navbar-custom .navbar-brand:hover {
    color: #404040
}

article, h3.post-subtitle, h2.subheading p {
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -.003em
}

h3.post-subtitle {
    font-size: 22px;
}

.post-preview>.post-meta, .intro-header .post-heading .meta {
    font-size: 16px;
}